{% extends "blog/base.html" %}

{% block content %}
    <div class="row text-center justify-content-center">
        <div class="col-6">
            {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                    <i class="bi bi-exclamation-diamond-fill"></i> Your username and password didn't match. Please try again.
                </div>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account does not have acces to this page. To proceed, please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <div class="form-group">
                <form class="post-form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="my-3 d-flex flex-row flex-nowrap justify-content-start align-items-center align-content-center">
                        <label for="id_username" class="form-label me-3">{{ form.username.label }}:</label>
                        {{ form.username }}
                    </div>
                    <div class="my-3 d-flex flex-row flex-nowrap justify-content-start align-items-center align-content-center">
                        <label for="id_password" class="form-label me-3">{{ form.password.label }}:</label>
                        {{ form.password }}
                    </div>
                    <div class="my-3 d-block">
                        <input class="btn btn-primary" type="submit" value="Login">
                    </div>
                    <div class="my-3 d-block">
                        <p><i>Having difficulty logging in?</i> <a class="btn btn-danger" href="#">Reset Password</a></p>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}