{% extends "blog/base.html" %}

{% block content %}
    <div class="row text-center justify-content-center">
        <div class="col-6">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account does not have acces to this page. To proceed, please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <div class="form-group">
                <form class="post-form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="my-3 d-flex flex-row flex-nowrap justify-content-start align-items-center align-content-center">
                        <label for="id_username" class="form-label me-3">username</label>
                        {{ form.username }}
                    </div>
                    <div class="my-3 d-flex flex-row flex-nowrap justify-content-start align-items-center align-content-center">
                        <label for="id_password" class="form-label me-3">password</label>
                        {{ form.password }}
                    </div>
                    <div class="my-3 d-flex flex-row flex-nowrap justify-content-evenly align-items-center align-content-center">
                        <input class="btn btn-primary" type="submit" value="login">
                        <a class="btn btn-danger" href="#">forgot password</a>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}