{% extends "blog/base.html" %}

{% block content %}
    <div class="row text-center justify-content-center">
        <div class="col-6">
            <p>
                Please enter your new password twice, so that we can verify it was entered correctly.
            </p>

            <div class="form-group">
                <form class="post-form" method="post">
                    {% csrf_token %}
                    {% include 'user/forms/base.html' %}
                    <div class="my-3 form-row d-block">
                        <input class="btn btn-warning" type="submit" value="Change Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}