{% extends "blog/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <nav class="nav flex-column" role="navigation">
                <h1>Settings</h1>
                <h2>Account</h2>
                <nav class="nav flex-column">
                    <a class="nav-link tab-link p-1" href="#">Username</a>
                    <a class="nav-link tab-link p-1" href="#">Password</a>
                    <a class="nav-link tab-link p-1" href="#">Avatar</a>
                    <a class="nav-link tab-link p-1" href="#">Personal Information</a>
                    <a class="nav-link tab-link p-1" href="#">Header</a>
                    <a class="nav-link tab-link p-1" href="#">Bio</a>
                </nav>
            </nav>
        </div>
        <div class="col-8">
            <div class="user-form-container">
                {% block settings_form %}
                {% endblock settings_form %}
            </div>
        </div>
    </div>
{% endblock content %}