{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if form %}
        <div class="form-group">
            <form method="post" class="post-form" enctype="multipart/form-data" action="{% url 'new_post' %}">
                {% csrf_token %}
                {% include 'blog/post/actions/form.html' %}
                <div class="mt-5 mb-3 d-block">
                    <input class="btn btn-primary" type="submit" value="Save New Post">
                </div>
            </form>
        </div>
    {% else %}
        <p>Something went wrong, the form was not loaded...</p>
    {% endif %}
{% else %}
    <p>You shouldn't be here...</p>
{% endif %}
{% block markdown_editor_script %}
{% include 'blog/post/actions/markdown_editor.html' %}
{% endblock markdown_editor_script %}
{% endblock %}