{% block content %}
    {% if form.non_field_errors %}
        {% for non_field_error in form.non_field_errors %}
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-exclamation-diamond-fill"></i> {{ non_field_error }}
            </div>
        {% endfor %}
    {% endif %}
    <input class="d-none" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="my-3 form-row text-start">
        {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
                <div class="alert alert-warning" role="alert">
                    <i class="bi bi-exclamation-diamond-fill"></i> {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        <label for="id_email" class="form-label me-3">{{ form.new_password1.label }}:</label>
        {{ form.new_password1 }}
    </div>
    <div class="my-3 form-row text-start">
        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                <div class="alert alert-warning" role="alert">
                    <i class="bi bi-exclamation-diamond-fill"></i> {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        <label for="id_email" class="form-label me-3">{{ form.new_password2.label }}:</label>
        {{ form.new_password2 }}
    </div>
{% endblock content %}