{% load markdownify %}

{% block post %}
    {% if view_name == 'IndexView' or view_name == 'DetailView' %}
        <h1><a href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a></h1>
    {% else %}
        <h2>{{ post.title }}</h2>
    {% endif %}
    <div>
        <div class="post-text">
            {{ post.text|markdownify }}
        </div>
        {% if post.image %}
            <div class="post-image">
                <img class="rounded mx-auto d-block" src="{{ post.image.url }}" style="max-height: 500px;">
                <p class="image-location">
                    {{ post.image.url }}
                </p>
            </div>
        {% endif %}
        <div class="post-information">
            <p>
                Author: {{ post.author }}
            </p>
            <p>
                Created: <time>{{ post.created }}</time>
            </p>
            <p>
                Last Edited: <time>{{ post.last_edited }}</time>
            </p>
        </div>
    </div>
    <hr>
{% endblock post %}