{% load markdownify %}

{% block post %}
    {% if view_name == 'IndexView' %}
        <h2><a href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a></h2>
    {% else %}
        <h2>{{ post.title }}</h2>
    {% endif %}
    <div>
        <div class="post-text">
            {{ post.text|markdownify }}
        </div>
        {% if post.image %}
            <div class="post-image">
                <img class="rounded mx-auto d-block" src="{{ post.image.url }}" style="max-height: 500px;">
                <p class="image-location">{{ post.image.url }}</p>
            </div>
        {% endif %}
        <div class="post-information">
            <p>author: {{ post.author }}</p>
            <time>created: {{ post.created }} | last_edited: {{ post.last_edited }}</time>
        </div>
    </div>
    <hr>
{% endblock post %}