{% load markdownify %}

{% block content %}
    {% if view_name == 'IndexView' %}
        <h2><a href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a></h2>
    {% else %}
        <h2>{{ post.title }}</h2>
    {% endif %}
    <div>
        <div>
            {{ post.text|markdownify }}
        </div>
        {% if post.image %}
            <img class="rounded mx-auto d-block" src="{{ post.image.url }}" style="max-height: 500px;">
            <p class="image-location">{{ post.image.url }}</p>
        {% endif %}
        <div class="information">
            <p>author: {{ post.author }}</p>
            <time>created: {{ post.date_created }} | published: {{ post.date_published }}</time>
        </div>
    </div>
    <hr>
{% endblock %}