:root {
    --dark-green: #1b2912ff;
    --dark-moss-green: #5e6135ff;
    --sage: #9fa58bff;
    --cambridge-blue: #76998bff;
    --indian-red: #c45852ff;

    --red_1: #e06c75;
    --orange_1: #d19a66;
    --orange_2: #e6c07b;
    --green: #98c379;
    --cyan: #56b6c2;
    --purple: #c678dd;
    --base0: #1d1f23;
    --base1: #21252b;
    --base2: #282c34;
    --base3: #2c313c;
    --base4: #333a42;
    --base5: #404859;
    --base6: #495162;
    --base7: #7f848e;
    --base8: #9da5b4;
    --base9: #abb2bf;
    --base10: #e6e6e6;
}

body {
    background-color: var(--sage);
    color: var(--dark-green);
    font-family: 'consolas';
}

/* base.html styling */
.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
}

a.nav-link,
a.nav-link:link,
a.nav-link:hover,
a.nav-link:visited {
    color: var(--indian-red);
    font-size: 1.5em;

    text-decoration: none;
}

/* post.html styling */
.post h2,
.post h2 a,
.post h2 a:visited,
.post h2 a:active {
    color: var(--indian-red);

    text-decoration: none;
}

.post > .actions {
    float: right;
}

.post > div {
    padding-left: 20px;
    padding-right: 20px;
}

.post .image-location {
    font-size: 12pt;
    margin-bottom: 5px;
}

.post .information > p,
.post .information > time {
    display: inline-block;

    margin: 0;

    font-size: 10pt;
}

.post .information > p {
    float: left;
}

.post .information > time {
    float: right;
}

.post hr {
    margin-top: 40px;
}

/* new_post.html styling */
.post-form textarea,
.post-form input#id_title,
.post-form input#id_date_published {
    text-align: left;
    width: 100%;
}

.save {
    float: right;
}

form .editor-toolbar {
    background-color: var(--cambridge-blue);
}
