{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>elia deppe</title>

        <!-- icons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/icons/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/icons/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/icons/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'blog/icons/favicon/site.webmanifest' %}"/>

        <!-- css -->
        <link href="{% static 'blog/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">

        <!-- js -->
        <script src="{% static 'blog/js/bootstrap/bootstrap.bundle.min.js' %}" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">elia deppe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNav">
                    <ul class="navbar-nav ms-auto flex-nowrap">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{% url 'new_post' %}">
                                    <img src="{% static 'blog/icons/pen.svg' %}" alt="A pen point down, tilted to the right slightly. Outlined in red.">
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
