{% extends 'blog/base.html' %}

{% block content %}
    {% if post %}
        <article class="post">
            {% if user.is_authenticated %}
                <aside class="actions">
                    <a class="btn btn-primary" href="{% url 'edit_post' pk=post.pk %}">Edit Post</a>
                    <a class="btn btn-danger" href="{% url 'delete_post' pk=post.pk %}">Delete Post</a>
                </aside>
            {% endif %}
            {%  include 'blog/post/post.html' %}
        </article>
    {% else %}
        <p>Something went wrong, post not found...</p>
    {% endif %}
{% endblock %}